# Browsers that we support

[production]
>0.2% and supports es6-class
not dead
not op_mini all
not chrome < 51
not safari < 10

[development]
last 1 chrome version
last 1 firefox version
last 1 safari version
