# dependencies
/node_modules

# production
/build

# webstorm
/.idea

# vscode
/.vscode

# vite
/vite.config.ts-timestamp-*

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

# jest
/coverage
