/* a css rule for position: relative coming before singlestretch-* rules
 * to be ignored if singlestretch is implemented with position: absolute */
.relative {
    position: relative;
}

.singlestretch-parent {
}
.singlestretch-child {
    height: 100%;
}
/* alternative implementations */
/*
*/
/*
.singlestretch-parent {
    position: relative;
}
.singlestretch-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
*/
/*
.singlestretch-parent {
    display: flex;
    flex-direction: column;
}
.singlestretch-child {
    flex-grow: 1;
}
*/
/*
.singlestretch-parent {
    display: grid;
}
.singlestretch-child {
}
*/

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Single line diagram */

/* components.css */

.sld-busbar-section {
    stroke-width: 3;
}
.sld-breaker {
    stroke-width: 2;
    fill: white;
}
.sld-disconnector {
    stroke-width: 3;
}
.sld-busbreaker-connection {
    stroke-width: 4;
}
.sld-vsc {
    font-size: 7.43px;
}
.sld-grid {
    stroke: #003700;
    stroke-dasharray: 1, 10;
}
.sld-arrow-p {
    fill: black;
}
.sld-arrow-q {
    fill: blue;
}
.sld-label {
    font: 11px 'Verdana';
}
.sld-graph-label {
    font: 14px 'Verdana';
}

/* tautologies.css */

.sld-up .sld-arrow-down {
    visibility: hidden;
}
.sld-down .sld-arrow-up {
    visibility: hidden;
}
.sld-closed .sld-sw-open {
    visibility: hidden;
}
.sld-open .sld-sw-closed {
    visibility: hidden;
}
.sld-hidden-node {
    visibility: hidden;
}
polyline {
    fill: none;
}
.sld-top-feeder .sld-label {
    dominant-baseline: auto;
}
.sld-bottom-feeder .sld-label {
    dominant-baseline: hanging;
}
.sld-arrow-p .sld-label {
    dominant-baseline: middle;
}
.sld-arrow-q .sld-label {
    dominant-baseline: middle;
}

/* topologicalBaseVoltages.css */

.sld-constant-color {
    stroke: lightgrey;
}
.sld-disconnected {
    stroke: #808080;
}
.sld-vl300to500-0 {
    stroke: #ff0000;
}
.sld-vl300to500-1 {
    stroke: #7f6c00;
}
.sld-vl300to500-2 {
    stroke: #f6b2ff;
}
.sld-vl300to500-3 {
    stroke: #996700;
}
.sld-vl300to500-4 {
    stroke: #ff85eb;
}
.sld-vl300to500-5 {
    stroke: #b25b00;
}
.sld-vl300to500-6 {
    stroke: #ff59b5;
}
.sld-vl300to500-7 {
    stroke: #cc4400;
}
.sld-vl300to500-8 {
    stroke: #ff2c67;
}
.sld-vl300to500-9 {
    stroke: #e52600;
}
.sld-vl180to300-0 {
    stroke: #218b21;
}
.sld-vl180to300-1 {
    stroke: #0d4940;
}
.sld-vl180to300-2 {
    stroke: #dfdab9;
}
.sld-vl180to300-3 {
    stroke: #105640;
}
.sld-vl180to300-4 {
    stroke: #c2cb92;
}
.sld-vl180to300-5 {
    stroke: #14643c;
}
.sld-vl180to300-6 {
    stroke: #95b66b;
}
.sld-vl180to300-7 {
    stroke: #187036;
}
.sld-vl180to300-8 {
    stroke: #5fa046;
}
.sld-vl180to300-9 {
    stroke: #1c7e2d;
}
.sld-vl120to180-0 {
    stroke: #00afae;
}
.sld-vl120to180-1 {
    stroke: #000d58;
}
.sld-vl120to180-2 {
    stroke: #b8e7b2;
}
.sld-vl120to180-3 {
    stroke: #002169;
}
.sld-vl120to180-4 {
    stroke: #85d993;
}
.sld-vl120to180-5 {
    stroke: #003c7b;
}
.sld-vl120to180-6 {
    stroke: #59cb8b;
}
.sld-vl120to180-7 {
    stroke: #005c8c;
}
.sld-vl120to180-8 {
    stroke: #2cbd94;
}
.sld-vl120to180-9 {
    stroke: #00839e;
}
.sld-vl70to120-0 {
    stroke: #cc5500;
}
.sld-vl70to120-1 {
    stroke: #4a6600;
}
.sld-vl70to120-2 {
    stroke: #efb2dd;
}
.sld-vl70to120-3 {
    stroke: #6e7a00;
}
.sld-vl70to120-4 {
    stroke: #e685ae;
}
.sld-vl70to120-5 {
    stroke: #8e8400;
}
.sld-vl70to120-6 {
    stroke: #dd596b;
}
.sld-vl70to120-7 {
    stroke: #a37b00;
}
.sld-vl70to120-8 {
    stroke: #d4432c;
}
.sld-vl70to120-9 {
    stroke: #b76b00;
}
.sld-vl50to70-0 {
    stroke: #a020ef;
}
.sld-vl50to70-1 {
    stroke: #7f0848;
}
.sld-vl50to70-2 {
    stroke: #b7dbfe;
}
.sld-vl50to70-3 {
    stroke: #960c6d;
}
.sld-vl50to70-4 {
    stroke: #8da6fe;
}
.sld-vl50to70-5 {
    stroke: #ad109a;
}
.sld-vl50to70-6 {
    stroke: #6f66fb;
}
.sld-vl50to70-7 {
    stroke: #bc14c4;
}
.sld-vl50to70-8 {
    stroke: #7f42f6;
}
.sld-vl50to70-9 {
    stroke: #b11ad9;
}
.sld-vl30to50-0 {
    stroke: #ff8290;
}
.sld-vl30to50-1 {
    stroke: #7f6f41;
}
.sld-vl30to50-2 {
    stroke: #f6d9ff;
}
.sld-vl30to50-3 {
    stroke: #99784e;
}
.sld-vl30to50-4 {
    stroke: #ffc3fb;
}
.sld-vl30to50-5 {
    stroke: #b27d5b;
}
.sld-vl30to50-6 {
    stroke: #ffade3;
}
.sld-vl30to50-7 {
    stroke: #cc7e68;
}
.sld-vl30to50-8 {
    stroke: #ff97bf;
}
.sld-vl30to50-9 {
    stroke: #e57b75;
}
.sld-vl0to30-0 {
    stroke: #aaae27;
}
.sld-vl0to30-1 {
    stroke: #195b0f;
}
.sld-vl0to30-2 {
    stroke: #eababe;
}
.sld-vl0to30-3 {
    stroke: #2d6c13;
}
.sld-vl0to30-4 {
    stroke: #dda193;
}
.sld-vl0to30-5 {
    stroke: #477d17;
}
.sld-vl0to30-6 {
    stroke: #ce9a6e;
}
.sld-vl0to30-7 {
    stroke: #648d1c;
}
.sld-vl0to30-8 {
    stroke: #bea04a;
}
.sld-vl0to30-9 {
    stroke: #869d22;
}

/* highlightLineStates.css */

.sld-feeder-disconnected {
    stroke: black;
}
.sld-feeder-connected-disconnected {
    stroke-dasharray: 3, 3;
}
.sld-feeder-disconnected-connected {
    stroke: black;
    stroke-dasharray: 3, 3;
}

/* baseVoltageConstantColors.css */

.sld-constant-color {
    fill: none;
}
.sld-node.sld-constant-color {
    stroke: none;
    fill: black;
}
.sld-busbreaker-connection.sld-constant-color {
    stroke: black;
}
.sld-breaker.sld-constant-color {
    stroke: blue;
    fill: white;
}
.sld-disconnector.sld-constant-color {
    stroke: black;
}
.sld-label {
    fill: black;
    stroke: none;
}
