body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Single line diagram */

.busbar-section {
    stroke-width: 3;
}
.breaker {
    stroke-width: 2;
}
.disconnector {
    stroke-width: 3;
}
.vsc-converter-station {
    font-size: 7.43px;
}
.arrow-p {
    fill: black;
}
.arrow-q {
    fill: blue;
}
.graph-label {
    font-family: Roboto;
    font-size: 14px;
    fill: black;
}
.component-label {
    font-family: Roboto;
    font-size: 11px;
    stroke: none;
    fill: black;
}
.arrow-label {
    font-family: Roboto;
    font-size: 11px;
    fill: black;
    dominant-baseline: middle;
}

.up .arrow-down {
    visibility: hidden;
}
.down .arrow-up {
    visibility: hidden;
}
.closed .sw-open {
    visibility: hidden;
}
.open .sw-closed {
    visibility: hidden;
}
.hidden-internal-node {
    visibility: hidden;
}
polyline {
    fill: none;
}
.top-feeder .component-label {
    dominant-baseline: auto;
}
.bottom-feeder .component-label {
    dominant-baseline: hanging;
}

.constant-color {
    fill: none;
    stroke: black;
}
.node.constant-color {
    stroke: none;
    fill: black;
}
.busbreaker-connection.constant-color {
    stroke: none;
    fill: black;
}
.breaker.constant-color {
    stroke: blue;
    fill: white;
}
.disconnector.constant-color {
    stroke: black;
}

.disconnected {
    stroke: black;
}
.wire-connected-disconnected {
    stroke-dasharray: 3, 3;
}
.wire-disconnected-connected {
    stroke: black;
    stroke-dasharray: 3, 3;
}

.vl0-0 {
    stroke: #808080;
}
.vl0-1 {
    stroke: #404040;
}
.vl0-2 {
    stroke: #d8d8d8;
}
.vl0-3 {
    stroke: #4c4c4c;
}
.vl0-4 {
    stroke: #c2c2c2;
}
.vl0-5 {
    stroke: #595959;
}
.vl0-6 {
    stroke: #acacac;
}
.vl0-7 {
    stroke: #666666;
}
.vl0-8 {
    stroke: #969696;
}
.vl0-9 {
    stroke: #737373;
}
.vl380-0 {
    stroke: #ff0000;
}
.vl380-1 {
    stroke: #7f6c00;
}
.vl380-2 {
    stroke: #f6b2ff;
}
.vl380-3 {
    stroke: #996700;
}
.vl380-4 {
    stroke: #ff85eb;
}
.vl380-5 {
    stroke: #b25b00;
}
.vl380-6 {
    stroke: #ff59b5;
}
.vl380-7 {
    stroke: #cc4400;
}
.vl380-8 {
    stroke: #ff2c67;
}
.vl380-9 {
    stroke: #e52600;
}
.vl225-0 {
    stroke: #218b21;
}
.vl225-1 {
    stroke: #0d4940;
}
.vl225-2 {
    stroke: #dfdab9;
}
.vl225-3 {
    stroke: #105640;
}
.vl225-4 {
    stroke: #c2cb92;
}
.vl225-5 {
    stroke: #14643c;
}
.vl225-6 {
    stroke: #95b66b;
}
.vl225-7 {
    stroke: #187036;
}
.vl225-8 {
    stroke: #5fa046;
}
.vl225-9 {
    stroke: #1c7e2d;
}
.vl150-0 {
    stroke: #00afae;
}
.vl150-1 {
    stroke: #000d58;
}
.vl150-2 {
    stroke: #b8e7b2;
}
.vl150-3 {
    stroke: #002169;
}
.vl150-4 {
    stroke: #85d993;
}
.vl150-5 {
    stroke: #003c7b;
}
.vl150-6 {
    stroke: #59cb8b;
}
.vl150-7 {
    stroke: #005c8c;
}
.vl150-8 {
    stroke: #2cbd94;
}
.vl150-9 {
    stroke: #00839e;
}
.vl90-0 {
    stroke: #cc5500;
}
.vl90-1 {
    stroke: #4a6600;
}
.vl90-2 {
    stroke: #efb2dd;
}
.vl90-3 {
    stroke: #6e7a00;
}
.vl90-4 {
    stroke: #e685ae;
}
.vl90-5 {
    stroke: #8e8400;
}
.vl90-6 {
    stroke: #dd596b;
}
.vl90-7 {
    stroke: #a37b00;
}
.vl90-8 {
    stroke: #d4432c;
}
.vl90-9 {
    stroke: #b76b00;
}
.vl63-0 {
    stroke: #a020ef;
}
.vl63-1 {
    stroke: #7f0848;
}
.vl63-2 {
    stroke: #b7dbfe;
}
.vl63-3 {
    stroke: #960c6d;
}
.vl63-4 {
    stroke: #8da6fe;
}
.vl63-5 {
    stroke: #ad109a;
}
.vl63-6 {
    stroke: #6f66fb;
}
.vl63-7 {
    stroke: #bc14c4;
}
.vl63-8 {
    stroke: #7f42f6;
}
.vl63-9 {
    stroke: #b11ad9;
}
.vl45-0 {
    stroke: #ff8290;
}
.vl45-1 {
    stroke: #7f6f41;
}
.vl45-2 {
    stroke: #f6d9ff;
}
.vl45-3 {
    stroke: #99784e;
}
.vl45-4 {
    stroke: #ffc3fb;
}
.vl45-5 {
    stroke: #b27d5b;
}
.vl45-6 {
    stroke: #ffade3;
}
.vl45-7 {
    stroke: #cc7e68;
}
.vl45-8 {
    stroke: #ff97bf;
}
.vl45-9 {
    stroke: #e57b75;
}
.vl20-0 {
    stroke: #aaae27;
}
.vl20-1 {
    stroke: #195b0f;
}
.vl20-2 {
    stroke: #eababe;
}
.vl20-3 {
    stroke: #2d6c13;
}
.vl20-4 {
    stroke: #dda193;
}
.vl20-5 {
    stroke: #477d17;
}
.vl20-6 {
    stroke: #ce9a6e;
}
.vl20-7 {
    stroke: #648d1c;
}
.vl20-8 {
    stroke: #bea04a;
}
.vl20-9 {
    stroke: #869d22;
}
