body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Single line diagram */

/* components.css */

.sld-busbar-section {
    stroke-width: 3;
}
.sld-breaker {
    stroke-width: 2;
    fill: white;
}
.sld-disconnector {
    stroke-width: 3;
}
.sld-busbreaker-connection {
    stroke-width: 4;
}
.sld-vsc {
    font-size: 7.43px;
}
.sld-grid {
    stroke: #003700;
    stroke-dasharray: 1, 10;
}
.sld-arrow-p {
    fill: black;
}
.sld-arrow-q {
    fill: blue;
}
.sld-label {
    font: 11px 'Verdana';
}
.sld-graph-label {
    font: 14px 'Verdana';
}

/* tautologies.css */

.sld-up .sld-arrow-down {
    visibility: hidden;
}
.sld-down .sld-arrow-up {
    visibility: hidden;
}
.sld-closed .sld-sw-open {
    visibility: hidden;
}
.sld-open .sld-sw-closed {
    visibility: hidden;
}
.sld-hidden-node {
    visibility: hidden;
}
polyline {
    fill: none;
}
.sld-top-feeder .sld-label {
    dominant-baseline: auto;
}
.sld-bottom-feeder .sld-label {
    dominant-baseline: hanging;
}
.sld-arrow-p .sld-label {
    dominant-baseline: middle;
}
.sld-arrow-q .sld-label {
    dominant-baseline: middle;
}

/* topologicalBaseVoltages.css */

.sld-constant-color {
    stroke: black;
} /* Default color, used for unknown voltage levels */
.sld-disconnected {
    stroke: #808080;
}
.sld-vl0-0 {
    stroke: #808080;
}
.sld-vl0-1 {
    stroke: #404040;
}
.sld-vl0-2 {
    stroke: #d8d8d8;
}
.sld-vl0-3 {
    stroke: #4c4c4c;
}
.sld-vl0-4 {
    stroke: #c2c2c2;
}
.sld-vl0-5 {
    stroke: #595959;
}
.sld-vl0-6 {
    stroke: #acacac;
}
.sld-vl0-7 {
    stroke: #666666;
}
.sld-vl0-8 {
    stroke: #969696;
}
.sld-vl0-9 {
    stroke: #737373;
}

.sld-vl400-0 {
    stroke: #ff0000;
}
.sld-vl400-1 {
    stroke: #7f6c00;
}
.sld-vl400-2 {
    stroke: #f6b2ff;
}
.sld-vl400-3 {
    stroke: #996700;
}
.sld-vl400-4 {
    stroke: #ff85eb;
}
.sld-vl400-5 {
    stroke: #b25b00;
}
.sld-vl400-6 {
    stroke: #ff59b5;
}
.sld-vl400-7 {
    stroke: #cc4400;
}
.sld-vl400-8 {
    stroke: #ff2c67;
}
.sld-vl400-9 {
    stroke: #e52600;
}

.sld-vl380-0 {
    stroke: #ff0000;
}
.sld-vl380-1 {
    stroke: #7f6c00;
}
.sld-vl380-2 {
    stroke: #f6b2ff;
}
.sld-vl380-3 {
    stroke: #996700;
}
.sld-vl380-4 {
    stroke: #ff85eb;
}
.sld-vl380-5 {
    stroke: #b25b00;
}
.sld-vl380-6 {
    stroke: #ff59b5;
}
.sld-vl380-7 {
    stroke: #cc4400;
}
.sld-vl380-8 {
    stroke: #ff2c67;
}
.sld-vl380-9 {
    stroke: #e52600;
}

.sld-vl225-0 {
    stroke: #218b21;
}
.sld-vl225-1 {
    stroke: #0d4940;
}
.sld-vl225-2 {
    stroke: #dfdab9;
}
.sld-vl225-3 {
    stroke: #105640;
}
.sld-vl225-4 {
    stroke: #c2cb92;
}
.sld-vl225-5 {
    stroke: #14643c;
}
.sld-vl225-6 {
    stroke: #95b66b;
}
.sld-vl225-7 {
    stroke: #187036;
}
.sld-vl225-8 {
    stroke: #5fa046;
}
.sld-vl225-9 {
    stroke: #1c7e2d;
}

.sld-vl220-0 {
    stroke: #218b21;
}
.sld-vl220-1 {
    stroke: #0d4940;
}
.sld-vl220-2 {
    stroke: #dfdab9;
}
.sld-vl220-3 {
    stroke: #105640;
}
.sld-vl220-4 {
    stroke: #c2cb92;
}
.sld-vl220-5 {
    stroke: #14643c;
}
.sld-vl220-6 {
    stroke: #95b66b;
}
.sld-vl220-7 {
    stroke: #187036;
}
.sld-vl220-8 {
    stroke: #5fa046;
}
.sld-vl220-9 {
    stroke: #1c7e2d;
}

.sld-vl150-0 {
    stroke: #00afae;
}
.sld-vl150-1 {
    stroke: #000d58;
}
.sld-vl150-2 {
    stroke: #b8e7b2;
}
.sld-vl150-3 {
    stroke: #002169;
}
.sld-vl150-4 {
    stroke: #85d993;
}
.sld-vl150-5 {
    stroke: #003c7b;
}
.sld-vl150-6 {
    stroke: #59cb8b;
}
.sld-vl150-7 {
    stroke: #005c8c;
}
.sld-vl150-8 {
    stroke: #2cbd94;
}
.sld-vl150-9 {
    stroke: #00839e;
}

.sld-vl110-0 {
    stroke: #cc5500;
}
.sld-vl110-1 {
    stroke: #4a6600;
}
.sld-vl110-2 {
    stroke: #efb2dd;
}
.sld-vl110-3 {
    stroke: #6e7a00;
}
.sld-vl110-4 {
    stroke: #e685ae;
}
.sld-vl110-5 {
    stroke: #8e8400;
}
.sld-vl110-6 {
    stroke: #dd596b;
}
.sld-vl110-7 {
    stroke: #a37b00;
}
.sld-vl110-8 {
    stroke: #d4432c;
}
.sld-vl110-9 {
    stroke: #b76b00;
}

.sld-vl90-0 {
    stroke: #cc5500;
}
.sld-vl90-1 {
    stroke: #4a6600;
}
.sld-vl90-2 {
    stroke: #efb2dd;
}
.sld-vl90-3 {
    stroke: #6e7a00;
}
.sld-vl90-4 {
    stroke: #e685ae;
}
.sld-vl90-5 {
    stroke: #8e8400;
}
.sld-vl90-6 {
    stroke: #dd596b;
}
.sld-vl90-7 {
    stroke: #a37b00;
}
.sld-vl90-8 {
    stroke: #d4432c;
}
.sld-vl90-9 {
    stroke: #b76b00;
}

.sld-vl63-0 {
    stroke: #a020ef;
}
.sld-vl63-1 {
    stroke: #7f0848;
}
.sld-vl63-2 {
    stroke: #b7dbfe;
}
.sld-vl63-3 {
    stroke: #960c6d;
}
.sld-vl63-4 {
    stroke: #8da6fe;
}
.sld-vl63-5 {
    stroke: #ad109a;
}
.sld-vl63-6 {
    stroke: #6f66fb;
}
.sld-vl63-7 {
    stroke: #bc14c4;
}
.sld-vl63-8 {
    stroke: #7f42f6;
}
.sld-vl63-9 {
    stroke: #b11ad9;
}

.sld-vl45-0 {
    stroke: #ff8290;
}
.sld-vl45-1 {
    stroke: #7f6f41;
}
.sld-vl45-2 {
    stroke: #f6d9ff;
}
.sld-vl45-3 {
    stroke: #99784e;
}
.sld-vl45-4 {
    stroke: #ffc3fb;
}
.sld-vl45-5 {
    stroke: #b27d5b;
}
.sld-vl45-6 {
    stroke: #ffade3;
}
.sld-vl45-7 {
    stroke: #cc7e68;
}
.sld-vl45-8 {
    stroke: #ff97bf;
}
.sld-vl45-9 {
    stroke: #e57b75;
}

.sld-vl21-0 {
    stroke: #aaae27;
}
.sld-vl21-1 {
    stroke: #195b0f;
}
.sld-vl21-2 {
    stroke: #eababe;
}
.sld-vl21-3 {
    stroke: #2d6c13;
}
.sld-vl21-4 {
    stroke: #dda193;
}
.sld-vl21-5 {
    stroke: #477d17;
}
.sld-vl21-6 {
    stroke: #ce9a6e;
}
.sld-vl21-7 {
    stroke: #648d1c;
}
.sld-vl21-8 {
    stroke: #bea04a;
}
.sld-vl21-9 {
    stroke: #869d22;
}

.sld-vl20-0 {
    stroke: #aaae27;
}
.sld-vl20-1 {
    stroke: #195b0f;
}
.sld-vl20-2 {
    stroke: #eababe;
}
.sld-vl20-3 {
    stroke: #2d6c13;
}
.sld-vl20-4 {
    stroke: #dda193;
}
.sld-vl20-5 {
    stroke: #477d17;
}
.sld-vl20-6 {
    stroke: #ce9a6e;
}
.sld-vl20-7 {
    stroke: #648d1c;
}
.sld-vl20-8 {
    stroke: #bea04a;
}
.sld-vl20-9 {
    stroke: #869d22;
}

.sld-vl16-0 {
    stroke: #aaae27;
}
.sld-vl16-1 {
    stroke: #195b0f;
}
.sld-vl16-2 {
    stroke: #eababe;
}
.sld-vl16-3 {
    stroke: #2d6c13;
}
.sld-vl16-4 {
    stroke: #dda193;
}
.sld-vl16-5 {
    stroke: #477d17;
}
.sld-vl16-6 {
    stroke: #ce9a6e;
}
.sld-vl16-7 {
    stroke: #648d1c;
}
.sld-vl16-8 {
    stroke: #bea04a;
}
.sld-vl16-9 {
    stroke: #869d22;
}

.sld-vl11-0 {
    stroke: #aaae27;
}
.sld-vl11-1 {
    stroke: #195b0f;
}
.sld-vl11-2 {
    stroke: #eababe;
}
.sld-vl11-3 {
    stroke: #2d6c13;
}
.sld-vl11-4 {
    stroke: #dda193;
}
.sld-vl11-5 {
    stroke: #477d17;
}
.sld-vl11-6 {
    stroke: #ce9a6e;
}
.sld-vl11-7 {
    stroke: #648d1c;
}
.sld-vl11-8 {
    stroke: #bea04a;
}
.sld-vl11-9 {
    stroke: #869d22;
}

/* highlightLineStates.css */

.sld-feeder-disconnected {
    stroke: black;
}
.sld-feeder-connected-disconnected {
    stroke-dasharray: 3, 3;
}
.sld-feeder-disconnected-connected {
    stroke: black;
    stroke-dasharray: 3, 3;
}

/* baseVoltageConstantColors.css */

.sld-constant-color {
    fill: none;
}
.sld-node.sld-constant-color {
    stroke: none;
    fill: black;
}
.sld-busbreaker-connection.sld-constant-color {
    stroke: black;
}
.sld-breaker.sld-constant-color {
    stroke: blue;
    fill: white;
}
.sld-disconnector.sld-constant-color {
    stroke: black;
}
.sld-label {
    fill: black;
    stroke: none;
}
