@import 'nad-index.css';

/* a css rule for position: relative coming before singlestretch-* rules
 * to be ignored if singlestretch is implemented with position: absolute */
.relative {
    position: relative;
}

.singlestretch-parent {
}
.singlestretch-child {
    height: 100%;
}
/* alternative implementations */
/*
*/
/*
.singlestretch-parent {
    position: relative;
}
.singlestretch-child {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
*/
/*
.singlestretch-parent {
    display: flex;
    flex-direction: column;
}
.singlestretch-child {
    flex-grow: 1;
}
*/
/*
.singlestretch-parent {
    display: grid;
}
.singlestretch-child {
}
*/

html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* In order for oidc-client-js silent renew to work it inserts an iframe in the DOM directly under body tag, it is supposed to be invisible thus its height and width are set to 0 by default. 
   Except iframes have a border value set to 2 which can cause a slight offset to the UI. 
   This rule prevent the iframe to cause an unwanted offset.
   It can be removed if oidc-client-js is no longer the authentification library in use in this project. */

body > iframe[width='0'][height='0'] {
    border: 0;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Single line diagram */

/* components.css */

.sld-disconnector {
    stroke-width: 3;
    stroke: black;
    fill: none;
}
.sld-breaker {
    stroke-width: 2;
    stroke: blue;
    fill: white;
}
.sld-bus-connection {
    fill: var(--sld-vl-color, black);
}
.sld-busbar-section {
    stroke: var(--sld-vl-color, black);
    stroke-width: 3;
    fill: none;
}
.sld-wire {
    stroke: var(--sld-vl-color, #c80000);
    fill: none;
}
.sld-wire.sld-dangling-line {
    stroke-width: 2px;
}
.sld-wire.sld-tie-line {
    stroke-width: 2px;
}
.sld-busbar-section.sld-bus-disconnected {
    stroke-dasharray: 3, 3;
}
.sld-load-break-switch {
    stroke: blue;
    fill: white;
}
.sld-load {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-generator {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-two-wt {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-three-wt {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-winding {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-capacitor {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-inductor {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-pst {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-pst-arrow {
    stroke: black;
    fill: none;
}
.sld-svc {
    stroke: var(--sld-vl-color, blue);
    fill: none;
}
.sld-vsc,
.sld-lcc {
    stroke: var(--sld-vl-color, blue);
    font-size: 7.43px;
    fill: none;
}
.sld-node-infos {
    stroke: none;
    fill: var(--sld-vl-color, black);
}
.sld-label {
    stroke: none;
    fill: black;
    font: 11px 'Verdana';
}
.sld-graph-label {
    stroke: none;
    fill: black;
    font: 14px 'Verdana';
}
.sld-legend {
    stroke: none;
    fill: black;
    font: 11px Verdana;
}
.sld-node {
    stroke: none;
    fill: black;
}
.sld-flash {
    stroke: none;
    fill: black;
}
.sld-lock {
    stroke: none;
    fill: black;
}
.sld-grid {
    stroke: #003700;
    stroke-dasharray: 1, 10;
}
.sld-active-power {
    fill: black;
}
.sld-reactive-power {
    fill: blue;
}
.sld-frame {
    fill: var(--sld-background-color, transparent);
}
.sld-breaker.sld-fictitious {
    stroke: maroon;
}
.sld-disconnector.sld-fictitious {
    stroke: maroon;
}
.sld-load-break-switch.sld-fictitious {
    stroke: maroon;
}
.sld-cell-shape-flat .sld-bus-connection {
    visibility: hidden;
}

/* tautologies.css */

.sld-out .sld-arrow-in {
    visibility: hidden;
}
.sld-in .sld-arrow-out {
    visibility: hidden;
}
.sld-closed .sld-sw-open {
    visibility: hidden;
}
.sld-open .sld-sw-closed {
    visibility: hidden;
}
.sld-hidden-node {
    visibility: hidden;
}
.sld-top-feeder .sld-label {
    dominant-baseline: auto;
}
.sld-bottom-feeder .sld-label {
    dominant-baseline: hanging;
}
.sld-active-power .sld-label {
    dominant-baseline: middle;
}
.sld-reactive-power .sld-label {
    dominant-baseline: middle;
}

@keyframes sld-overload-blink-animation {
    0%,
    80%,
    100% {
        stroke-width: 1;
    }
    40% {
        stroke: #ffeb3b;
        stroke-width: 2;
    }
}
  
  @keyframes sld-overvoltage-blink-animation {
    0%,
    80%,
    100% {
      stroke-width: 1;
    }
    40% {
      stroke: #ff5722;
      stroke-width: 2;
    }
  }
  
  @keyframes sld-undervoltage-blink-animation {
    0%,
    80%,
    100% {
      stroke-width: 1;
    }
    40% {
      stroke: #00bcd4;
      stroke-width: 2;
    }
  }
  
  .sld-overload {
    animation: sld-overload-blink-animation 3s infinite;
  }
  
  .sld-vl-overvoltage {
    animation: sld-overvoltage-blink-animation 3s infinite;
  }
  
  .sld-vl-undervoltage {
    animation: sld-undervoltage-blink-animation 3s infinite;
  }

/* topologicalBaseVoltages.css */

.sld-disconnected {
    --sld-vl-color: #808080;
}
.sld-vl300to500-0 {
    --sld-vl-color: #ff0000;
}
.sld-vl300to500-1 {
    --sld-vl-color: #7f6c00;
}
.sld-vl300to500-2 {
    --sld-vl-color: #f6b2ff;
}
.sld-vl300to500-3 {
    --sld-vl-color: #996700;
}
.sld-vl300to500-4 {
    --sld-vl-color: #ff85eb;
}
.sld-vl300to500-5 {
    --sld-vl-color: #b25b00;
}
.sld-vl300to500-6 {
    --sld-vl-color: #ff59b5;
}
.sld-vl300to500-7 {
    --sld-vl-color: #cc4400;
}
.sld-vl300to500-8 {
    --sld-vl-color: #ff2c67;
}
.sld-vl300to500-9 {
    --sld-vl-color: #e52600;
}
.sld-vl180to300-0 {
    --sld-vl-color: #218b21;
}
.sld-vl180to300-1 {
    --sld-vl-color: #0d4940;
}
.sld-vl180to300-2 {
    --sld-vl-color: #dfdab9;
}
.sld-vl180to300-3 {
    --sld-vl-color: #105640;
}
.sld-vl180to300-4 {
    --sld-vl-color: #c2cb92;
}
.sld-vl180to300-5 {
    --sld-vl-color: #14643c;
}
.sld-vl180to300-6 {
    --sld-vl-color: #95b66b;
}
.sld-vl180to300-7 {
    --sld-vl-color: #187036;
}
.sld-vl180to300-8 {
    --sld-vl-color: #5fa046;
}
.sld-vl180to300-9 {
    --sld-vl-color: #1c7e2d;
}
.sld-vl120to180-0 {
    --sld-vl-color: #00afae;
}
.sld-vl120to180-1 {
    --sld-vl-color: #000d58;
}
.sld-vl120to180-2 {
    --sld-vl-color: #b8e7b2;
}
.sld-vl120to180-3 {
    --sld-vl-color: #002169;
}
.sld-vl120to180-4 {
    --sld-vl-color: #85d993;
}
.sld-vl120to180-5 {
    --sld-vl-color: #003c7b;
}
.sld-vl120to180-6 {
    --sld-vl-color: #59cb8b;
}
.sld-vl120to180-7 {
    --sld-vl-color: #005c8c;
}
.sld-vl120to180-8 {
    --sld-vl-color: #2cbd94;
}
.sld-vl120to180-9 {
    --sld-vl-color: #00839e;
}
.sld-vl70to120-0 {
    --sld-vl-color: #cc5500;
}
.sld-vl70to120-1 {
    --sld-vl-color: #4a6600;
}
.sld-vl70to120-2 {
    --sld-vl-color: #efb2dd;
}
.sld-vl70to120-3 {
    --sld-vl-color: #6e7a00;
}
.sld-vl70to120-4 {
    --sld-vl-color: #e685ae;
}
.sld-vl70to120-5 {
    --sld-vl-color: #8e8400;
}
.sld-vl70to120-6 {
    --sld-vl-color: #dd596b;
}
.sld-vl70to120-7 {
    --sld-vl-color: #a37b00;
}
.sld-vl70to120-8 {
    --sld-vl-color: #d4432c;
}
.sld-vl70to120-9 {
    --sld-vl-color: #b76b00;
}
.sld-vl50to70-0 {
    --sld-vl-color: #a020ef;
}
.sld-vl50to70-1 {
    --sld-vl-color: #7f0848;
}
.sld-vl50to70-2 {
    --sld-vl-color: #b7dbfe;
}
.sld-vl50to70-3 {
    --sld-vl-color: #960c6d;
}
.sld-vl50to70-4 {
    --sld-vl-color: #8da6fe;
}
.sld-vl50to70-5 {
    --sld-vl-color: #ad109a;
}
.sld-vl50to70-6 {
    --sld-vl-color: #6f66fb;
}
.sld-vl50to70-7 {
    --sld-vl-color: #bc14c4;
}
.sld-vl50to70-8 {
    --sld-vl-color: #7f42f6;
}
.sld-vl50to70-9 {
    --sld-vl-color: #b11ad9;
}
.sld-vl30to50-0 {
    --sld-vl-color: #ff8290;
}
.sld-vl30to50-1 {
    --sld-vl-color: #7f6f41;
}
.sld-vl30to50-2 {
    --sld-vl-color: #f6d9ff;
}
.sld-vl30to50-3 {
    --sld-vl-color: #99784e;
}
.sld-vl30to50-4 {
    --sld-vl-color: #ffc3fb;
}
.sld-vl30to50-5 {
    --sld-vl-color: #b27d5b;
}
.sld-vl30to50-6 {
    --sld-vl-color: #ffade3;
}
.sld-vl30to50-7 {
    --sld-vl-color: #cc7e68;
}
.sld-vl30to50-8 {
    --sld-vl-color: #ff97bf;
}
.sld-vl30to50-9 {
    --sld-vl-color: #e57b75;
}
.sld-vl0to30-0 {
    --sld-vl-color: #aaae27;
}
.sld-vl0to30-1 {
    --sld-vl-color: #195b0f;
}
.sld-vl0to30-2 {
    --sld-vl-color: #eababe;
}
.sld-vl0to30-3 {
    --sld-vl-color: #2d6c13;
}
.sld-vl0to30-4 {
    --sld-vl-color: #dda193;
}
.sld-vl0to30-5 {
    --sld-vl-color: #477d17;
}
.sld-vl0to30-6 {
    --sld-vl-color: #ce9a6e;
}
.sld-vl0to30-7 {
    --sld-vl-color: #648d1c;
}
.sld-vl0to30-8 {
    --sld-vl-color: #bea04a;
}
.sld-vl0to30-9 {
    --sld-vl-color: #869d22;
}

/* highlightLineStates.css */

.sld-feeder-disconnected {
    stroke: black;
}
.sld-feeder-connected-disconnected {
    stroke-dasharray: 3, 3;
}
.sld-feeder-disconnected-connected {
    stroke: black;
    stroke-dasharray: 3, 3;
}

/* baseVoltages.css */

.sld-vl300to500 {
    --sld-vl-color: #ff0000;
}
.sld-vl180to300 {
    --sld-vl-color: #228b22;
}
.sld-vl120to180 {
    --sld-vl-color: #01afaf;
}
.sld-vl70to120 {
    --sld-vl-color: #cc5500;
}
.sld-vl50to70 {
    --sld-vl-color: #a020f0;
}
.sld-vl30to50 {
    --sld-vl-color: #ff8290;
}
.sld-vl0to30 {
    --sld-vl-color: #abae28;
}

/* Network modification tree */

.react-flow__node-ROOT {
    width: 180px;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.react-flow__node-NETWORK_MODIFICATION {
    width: 180px;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.react-flow__node > .MuiButton-root {
    width: 100%;
}
.react-flow {
    --xy-edge-stroke-width-default: 2;
}
