.nad-branch-edges .nad-edge-path,
.nad-3wt-edges .nad-edge-path,
.nad-branch-edges .nad-winding,
.nad-3wt-nodes .nad-winding {
    stroke: var(--vl-color, lightgrey);
    stroke-width: 0.25%;
    fill: none;
    cursor: default;
}
.nad-text-edges { /* Hidden for now */
    display: none;
}
.nad-disconnected.nad-edge-path {
    stroke-dasharray: 0.45%, 0.45%;
}
.nad-vl-nodes .nad-busnode {
    fill: var(--vl-color, lightgrey);
    cursor: pointer;
}
.nad-vl-nodes circle.nad-unknown-busnode {
    stroke: var(--vl-color, #808080);
    stroke-width: 0.25%;
    stroke-dasharray: 5, 5;
    fill: none;
}
.nad-hvdc-edge polyline.nad-hvdc {
    stroke: grey;
    stroke-width: 1%;
}
.nad-pst-arrow {
    stroke: #6a6a6a;
    stroke-width: 0.2%;
    fill: none;
}
.nad-active {
    fill: #787F81;
}
.nad-reactive {
    fill: blue;
}
.nad-current {
    fill: #bd4802;
}
.nad-text-background {
    flood-color: #90a4aeaa;
}
.nad-text-nodes {
    font: 25px serif;
    fill: black;
    dominant-baseline: central;
}
foreignObject.nad-text-nodes {
    overflow: visible;
    color: black;
}
.nad-label-box {
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    cursor: default;
    border: 2px solid rgba(0,0,0,0);
}
.nad-legend-square {
    display: inline-block;
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: var(--vl-color, black);
}
.nad-edge-infos {
    cursor: default;
}
.nad-edge-infos text {
    font: 20px sans-serif;
    dominant-baseline: middle;
    stroke-width: 10;
    stroke-linejoin: round;
    paint-order: stroke;
}

g.nad-disconnected > .nad-disconnected.nad-edge-path {
    /* When both edges of a line are disconnected in a NAD, both of them and their parent have the .nad-disconnected class */
    --vl-color: #808080;
}

@keyframes line-blink {
    50% {
        stroke: #F50057;
        stroke-width: 0.6%;
    }
}
@keyframes line-blink-nad-zoom-0 {
    50% {
        stroke: #F50057;
        stroke-width: 8;
    }
}
@keyframes line-blink-nad-zoom-9000 {
    50% {
        stroke: #F50057;
        stroke-width: 0.5%;
    }
}
@keyframes line-blink-nad-zoom-12000-15000 {
    50% {
        stroke: #F50057;
        stroke-width: 0.3%;
    }
}
@keyframes node-over-blink {
    50% {
        fill: #D500F9;
    }
}
@keyframes node-under-blink {
    50% {
        fill: #2979FF;
    }
}
@keyframes node-over-blink-nad-zoom-9000 {
    50% {
        fill: #D500F9;
        stroke: #D500F9;
        stroke-width: 24px;
    }
}
@keyframes node-under-blink-nad-zoom-9000 {
    50% {
        fill: #2979FF;
        stroke: #2979FF;
        stroke-width: 24px;
    }
}
@keyframes node-over-blink-nad-zoom-12000-15000 {
    50% {
        fill: #D500F9;
        stroke: #D500F9;
        stroke-width: 32px;
    }
}
@keyframes node-under-blink-nad-zoom-12000-15000 {
    50% {
        fill: #2979FF;
        stroke: #2979FF;
        stroke-width: 32px;
    }
}
.nad-branch-edges .nad-overload .nad-edge-path {
    animation: line-blink 0.75s infinite steps(1, start);
}
.nad-vl-nodes .nad-overvoltage {
    animation: node-over-blink 0.75s infinite steps(1, start);
}
.nad-vl-nodes .nad-undervoltage {
    animation: node-under-blink 0.75s infinite steps(1, start);
}

/* NETWORK AREA DIAGRAM LEVEL OF DETAIL */
/* default hide nad edge infos*/
.nad-edge-infos .nad-active,
.nad-edge-infos .nad-reactive,
.nad-edge-infos .nad-permanent-limit-percentage {
    display:none;
}
/* zoom 3500 → active + permanent */
.nad-zoom-3500 .nad-active,
.nad-zoom-3500 .nad-permanent-limit-percentage {
    display: inline;
}
/* zoom 2000 → active + permanent */
.nad-zoom-2000 .nad-active,
.nad-zoom-2000 .nad-permanent-limit-percentage {
    display: inline;
}
/* zoom 500 → + reactive */
.nad-zoom-500 .nad-active,
.nad-zoom-500 .nad-reactive,
.nad-zoom-500 .nad-permanent-limit-percentage {
    display:inline;
}

/* zoom 0 → show all */
.nad-zoom-0 .nad-edge-infos * {
    display:inline;
}
/* Makes the nodes' edges thicker when zooming a lot */
.nad-zoom-0 {
    :is(
        .nad-branch-edges .nad-edge-path, .nad-3wt-edges .nad-edge-path,
        .nad-branch-edges .nad-winding, .nad-3wt-nodes .nad-winding,
        .nad-vl-nodes circle.nad-unknown-busnode
        ) {
        stroke-width: 3;
    }
    :is(
        .nad-branch-edges .nad-overload .nad-edge-path
        ) {
        animation: line-blink-nad-zoom-0 0.75s infinite steps(1, start);
    }
}

/* Makes the dashed lines' spaces consistent when zooming */
:is(.nad-zoom-0, .nad-zoom-2000) :is(
    .nad-disconnected.nad-edge-path
    ) {
    stroke-dasharray: 10 10;
}

/* Between zoom 2000 and 9000, edges use the default 0.25% width.
   We gradually narrow these lines when zooming out, to prevent thick lines when fully zoomed out. */
.nad-zoom-9000 {
    :is(
        .nad-branch-edges .nad-edge-path, .nad-3wt-edges .nad-edge-path,
        .nad-branch-edges .nad-winding, .nad-3wt-nodes .nad-winding,
        .nad-vl-nodes circle.nad-unknown-busnode
        ) {
        stroke-width: 0.2%;
    }
    :is(
        .nad-branch-edges .nad-overload .nad-edge-path
        ) {
        animation: line-blink-nad-zoom-9000 0.75s infinite steps(1, start);
    }
    :is(
        .nad-vl-nodes .nad-overvoltage
        ) {
        animation: node-over-blink-nad-zoom-9000 0.75s infinite steps(1, start);
    }
    :is(
        .nad-vl-nodes .nad-undervoltage
        ) {
        animation: node-under-blink-nad-zoom-9000 0.75s infinite steps(1, start);
    }
}

/* Gradually narrows the edges when zooming out, to prevent thick lines when fully zoomed out. */
:is(.nad-zoom-12000, .nad-zoom-15000) {
    :is(
        .nad-branch-edges .nad-edge-path, .nad-3wt-edges .nad-edge-path,
        .nad-branch-edges .nad-winding, .nad-3wt-nodes .nad-winding,
        .nad-vl-nodes circle.nad-unknown-busnode
        ) {
        stroke-width: 0.1%;
    }
    :is(
        .nad-branch-edges .nad-overload .nad-edge-path
        ) {
        animation: line-blink-nad-zoom-12000-15000 0.75s infinite steps(1, start);
    }
    :is(
        .nad-vl-nodes .nad-overvoltage
        ) {
        animation: node-over-blink-nad-zoom-12000-15000 0.75s infinite steps(1, start);
    }
    :is(
        .nad-vl-nodes .nad-undervoltage
        ) {
        animation: node-under-blink-nad-zoom-12000-15000 0.75s infinite steps(1, start);
    }
}

 
/* Hides the voltage levels 0 to 50 when zoomed out. */
:is(.nad-zoom-6000, .nad-zoom-9000, .nad-zoom-12000, .nad-zoom-15000) :is(
    .nad-voltage-level-1, .nad-voltage-level-2
    ) {
    display: none;
}

/* Hides the voltage levels 50 to 100 when zoomed out. */
.nad-zoom-15000 :is(
    .nad-voltage-level-3, .nad-voltage-level-4
    ) {
    display: none;
}

/* Help visibility when hovering over a NAD's VL or label */
.nad-textnode-highlight {
    z-index: 99999;
    border: 2px solid #90929477;
}
.nad-busnode-highlight {
    transform: scale(1.12);
}
:is(.nad-zoom-0) .nad-busnode-highlight {
    transform: scale(1.12);
}
:is(.nad-zoom-2000) .nad-busnode-highlight {
    transform: scale(1.2);
}
:is(.nad-zoom-2000) .nad-textnode-highlight {
    transform: scale(1.3);
}

.nad-edge-infos path.nad-reactive,
.nad-reactive path {
    fill: blue !important;
    stroke: blue !important;
}