.nad-branch-edges polyline, .nad-branch-edges path {stroke: var(--nad-vl-color, lightgrey); stroke-width: 0.05; fill: none}
.nad-branch-edges circle {stroke: var(--nad-vl-color, lightgrey); stroke-width: 0.05; fill: none}
.nad-3wt-edges polyline {stroke: var(--nad-vl-color, lightgrey); stroke-width: 0.05; fill: none}
.nad-text-edges {stroke: black; stroke-width: 0.02; stroke-dasharray: .03,.05}
.nad-branch-edges .nad-disconnected polyline {stroke-dasharray: .1,.1}
.nad-vl-nodes circle, .nad-vl-nodes path {fill: var(--nad-vl-color, lightgrey)}
.nad-vl-nodes circle.nad-unknown-busnode {stroke: var(--nad-vl-color, #808080); stroke-width: 0.05; stroke-dasharray: .05,.05; fill: none}
.nad-hvdc-edge polyline.nad-hvdc {stroke: grey; stroke-width: 0.2}
.nad-3wt-nodes circle {stroke: var(--nad-vl-color, lightgrey); stroke-width: 0.05; fill: none}
.nad-3wt-bg circle {stroke: none; fill: white}
.nad-state-out .nad-arrow-in {visibility: hidden}
.nad-state-in .nad-arrow-out {visibility: hidden}
.nad-active path {stroke: none; fill: #546e7a}
.nad-active {visibility: visible}
.nad-reactive {visibility: hidden}
.nad-reactive path {stroke: none; fill: #0277bd}
.nad-text-background {flood-color: #90a4aeaa}
.nad-text-nodes {
    font: 0.5px "Verdana";
    fill: black;
    letter-spacing: 0
}
.nad-edge-infos text {
    font: 0.45px "Verdana";
    dominant-baseline:middle;
    stroke: #FFFFFFAA;
    stroke-width: 0.1;
    stroke-linejoin:round;
    paint-order: stroke;
    letter-spacing: 0
}
.nad-edge-infos .nad-state-in text {fill: #b71c1c}
.nad-edge-infos .nad-state-out text {fill: #2e7d32}
.nad-disconnected {--nad-vl-color: #808080}
.nad-vl0to30 {--nad-vl-color: #AFB42B}
.nad-vl30to50 {--nad-vl-color: #EF9A9A}
.nad-vl50to70 {--nad-vl-color: #9C27B0}
.nad-vl70to120 {--nad-vl-color: #E65100}
.nad-vl120to180 {--nad-vl-color: #00ACC1}
.nad-vl180to300 {--nad-vl-color: #2E7D32}
.nad-vl300to500 {--nad-vl-color: #D32F2F}
.nad-branch-edges .nad-overload polyline, .nad-branch-edges .nad-overload path {animation: line-blink 3s infinite}
.nad-vl-nodes .nad-overvoltage {animation: node-over-blink 3s infinite}
.nad-vl-nodes .nad-undervoltage {animation: node-under-blink 3s infinite}

@keyframes line-blink {
    0%, 80%, 100% {stroke: var(--nad-vl-color, black); stroke-width: 0.05}
    40% {stroke: #FFEB3B; stroke-width: 0.15}
}
@keyframes node-over-blink {
    0%, 80%, 100% {stroke: white; stroke-width: 0}
    40% {stroke: #ff5722; stroke-width: 0.15}
}
@keyframes node-under-blink {
    0%, 80%, 100% {stroke: white; stroke-width: 0}
    40% {stroke: #00BCD4; stroke-width: 0.15}
}