name: CI

on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  build:
    uses: powsybl/github-ci/.github/workflows/build-frontend-app-generic.yml@b0f6bbfe2ebaf08ac8f5e4f1220e13cb05c24de2
    with:
      dockerImage: gridsuite/gridstudy-app
      dockerUsername: gridsuiteci
      eventType: gridstudy_app_updated
      licensercPath: .github/config/.licenserc.yaml
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      repo-token: ${{ secrets.REPO_ACCESS_TOKEN }}
