name: Release

on:
  workflow_dispatch:
    inputs:
      releaseVersion:
        description: Release version (vX.X)
        required: true
        type: string
      gitReference:
        description: SHA of the commit from where to release or branch name
        required: true
        type: string

jobs:
  run-release:
    uses: powsybl/github-ci/.github/workflows/release-frontend-app-generic.yml@b0f6bbfe2ebaf08ac8f5e4f1220e13cb05c24de2
    with:
      releaseVersion: ${{ github.event.inputs.releaseVersion }}
      commitSha: ${{ github.event.inputs.gitReference }}
      dockerImage: docker.io/gridsuite/gridstudy-app
      dockerUsername: gridsuiteci
      githubappId: ${{ vars.GRIDSUITE_ACTIONS_APPID }}
    secrets:
      VERSIONBUMP_GHAPP_PRIVATE_KEY: ${{ secrets.VERSIONBUMP_GHAPP_PRIVATE_KEY }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
      sonar-token: ${{ secrets.SONAR_TOKEN }}
